.App {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n s";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

ul {
  list-style: none;
}
.head {
  grid-area: h;
  background-color: aqua;
}
.nav {
  grid-area: n;
  background-color: blue;
}
.section {
  grid-area: s;
  background-color: blueviolet;
}

.logo {
  width: 50px;
}
.main-img-wrap{
  width: 1170px;
  height: 450px;
}
.main-img {
height: 450px;
width: 100%;
object-fit:cover;
}
.avatar{
  width: 150px;
  
}