.App {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n s";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

ul {
  list-style: none;
}